.blob1,
.blob2,
.blob3 {
    filter: blur(75px);
}

.blob1 {
    margin-left: 8rem;
    width: 397px;
    height: 604px;
    border-radius: 39% 61% 53% 47% / 59% 53% 47% 41%;
    background: linear-gradient(180deg, rgba(98, 91, 183, 0.57) 0%, rgba(173, 108, 124, 0.512792) 47.67%, rgba(255, 128, 128, 0.45) 100%);
    transform: rotate(-78.58deg);
}

.blob2 {
    margin-left: 8rem;
    width: 345px;
    height: 525px;
    border-radius: 31% 69% 53% 47% / 63% 48% 52% 37%;
    background: linear-gradient(180deg, rgba(120, 91, 183, 0.57) 0%, rgba(128, 209, 255, 0.6) 100%);
    transform: rotate(-78.58deg);
}

.blob3 {
    margin-left: 8rem;
    width: 400px;
    height: 358px;
    border-radius: 49% 51% 47% 53% / 56% 60% 40% 44%;
    background: linear-gradient(180deg, rgba(128, 255, 255, 0.49) 0%, rgba(128, 128, 255, 0.37) 100%);
}